/* common codes starts*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    outline: 0;
    font-size: 400;
}

html {
    background-color: azure;
    font-size: 62.5%;
    scroll-behavior: smooth;
    /* font-family: 'Italianno', cursive; */
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: rgb(236, 244, 252);
    /* background-color:honeydew; */
    width: 120rem;
    max-width: 100%;
    margin: auto;
    box-shadow: 0.1rem 0.1rem 0.1rem #c4c4c4, -0.1rem 0rem 0.1rem #c4c4c4;
}

.justify-text {
    text-align: justify;
}

.text-white {
    color: white;
}

.section-heading {
    font-family: 'Italianno', cursive;
    font-size: 8rem;
}

.center-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.btn {
    background-color: rgb(221, 175, 75);
    border: none;
    border-radius: 0.6rem;
    box-shadow: 0.1rem 0.1rem 0.1rem #222;
    cursor: pointer;
    font-size: 1.6rem;
    padding: 1rem 0;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
}

/* common codes ends*/

/* header starts */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(32, 44, 9);
    color: white;
    padding: 2rem 1rem;
    position: sticky;
    top: 0;
    z-index: 10;
    min-height: 5vh;
}

.logo-figure {
    border: 1px solid white;
}

.logo {
    font-size: 4rem;
    padding: .5rem;
}

nav li {
    display: inline-block;
    margin-right: 2rem;
    padding: 1rem;
    transition: all 0.4s;
}

nav li:last-child {
    margin-right: 0;
}

nav li:hover {
    background-color: white;
    border-radius: 0.6rem;
}

.nav-link {
    font-size: 1.8rem;
    cursor: pointer;
}

.nav-link:hover {

    color: black;
}

/* header ends */

/* banner section starts */
#blog-banner-section {
    padding: 5rem 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 95vh;
}

#blog-banner-section article {
    flex-basis: 50%;
    margin: 1rem;
}

.banner-heading {
    display: inline-block;
    padding: 1rem;
    font-size: 4rem;
    margin-bottom: 1.5rem;
    background-color: rgb(32, 44, 9);
}

.banner-desc {
    font-size: 1.8rem;
    margin-right: 1rem;
}

#blog-banner-section aside {
    flex-basis: 50%;
}

.banner-image {
    width: 55rem;
    height: 40rem;
    border: 0.3rem solid;
}

/* banner section ends */

/* about blog section starts */
#blog-about {
    min-height: 95vh;
    padding: 5rem 1rem;
    background-color: rgb(77, 78, 74);
}

.card-container {
    display: flex;
    align-items: center;
}

.card {
    flex: 1;
    background-color: #c4c4c4;
    border-radius: 0.6rem;
    padding: 3rem 1rem;
    margin: 2rem;
    display: flex;
    flex-direction: column;
    transition: transform 0.3s;
}

.card:hover {
    transform: scale(1.1);
}

.card-header {
    font-size: 3rem;
    margin-bottom: 2rem;
    text-align: center;
}

.card-desc {
    padding: 0.4rem 1rem;
    font-size: 1.6rem;
    margin-bottom: 5rem;
}

.card-btn {
    align-self: center;
    width: 70%;
}

/* about blog section ends */

/* responsive design starts */
@media (max-width: 992px) {
    #blog-banner-section {
        flex-direction: column;
    }

    #blog-banner-section article {
        width: 70%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 5rem;
    }

    .card-container {
        width: 50%;
        flex-direction: column;
        flex-wrap: wrap;
    }

}

@media (max-width: 768px) {
    html {
        font-size: 55.5%;
    }

    #blog-banner-section article {
        width: 80%;
    }

    .card-container {
        width: 80%;
    }
}

@media (max-width: 600px) {
    html {
        font-size: 48.5%;
    }

    header {
        flex-direction: column;
    }

    nav ul {
        padding-left: 2.5rem;
    }

    nav li {
        display: block;
        margin-right: 0;
        margin: 1rem 0rem;
    }

    nav ul li .nav-link {
        margin-left: 1.2rem;
    }

    #blog-banner-section {
        height: auto;
    }

    #blog-banner-section article {
        width: 90%;
    }

    .banner-image{
        max-width: 100%;
    }

    .blog-about{
        min-height: auto;
    }
    
    .card-container {
        width: 90%;
        flex-direction: column;
        flex-wrap: wrap;
    }

}

@media (max-width: 400px) {}

/* responsive design ends */