/* common codes starts*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    outline: 0;
    font-size: 400;
}

html {
    background-color: azure;
    font-size: 62.5%;
    scroll-behavior: smooth;
    /* font-family: 'Italianno', cursive; */
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: rgb(236, 244, 252);
    /* background-color:honeydew; */
    width: 120rem;
    max-width: 100%;
    margin: auto;
    box-shadow: 0.1rem 0.1rem 0.1rem #c4c4c4, -0.1rem 0rem 0.1rem #c4c4c4;
}

.justify-text {
    text-align: justify;
}

.text-white {
    color: white;
}

.section-heading {
    font-family: 'Italianno', cursive;
    font-size: 8rem;
}

.center-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.btn {
    background-color: rgb(221, 175, 75);
    border: none;
    border-radius: 0.6rem;
    box-shadow: 0.1rem 0.1rem 0.1rem #222;
    cursor: pointer;
    font-size: 1.6rem;
    padding: 1rem 0;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
}

/* common codes ends*/

/* header starts */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(32, 44, 9);
    color: white;
    padding: 2rem 1rem;
    position: sticky;
    top: 0;
    z-index: 10;
    min-height: 5vh;
}

.logo-figure {
    border: 1px solid white;
}

.logo {
    font-size: 4rem;
    padding: .5rem;
}

#menu-icon{
    display: none;
}

nav li {
    display: inline-block;
    margin-right: 2rem;
    padding: 1rem;
    transition: all 0.4s;
}

nav li:last-child {
    margin-right: 0;
}

nav li:hover {
    background-color: #3d6d9c;
    border-radius: 0.6rem;
}

.nav-link {
    font-size: 1.8rem;
    cursor: pointer;
}

.nav-link:hover {

}

/* header ends */

/* banner section starts */
#blog-banner-section {
    padding: 5rem 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 95vh;
}

#blog-banner-section article {
    flex-basis: 50%;
    margin: 1rem;
}

.banner-heading {
    display: inline-block;
    padding: 1rem;
    font-size: 4rem;
    margin-bottom: 1.5rem;
    background-color: rgb(32, 44, 9);
}

.banner-desc {
    font-size: 1.8rem;
    margin-right: 1rem;
}

#blog-banner-section aside {
    flex-basis: 50%;
}

.banner-image {
    width: 55rem;
    height: 40rem;
    border: 0.3rem solid;
}

/* banner section ends */

/* about blog section starts */
#blog-about {
    min-height: 95vh;
    padding: 5rem 1rem;
    background-color: rgb(77, 78, 74);
}

.card-container {
    display: flex;
    align-items: center;
}

.card {
    flex: 1;
    background-color: #c4c4c4;
    border-radius: 0.6rem;
    padding: 3rem 1rem;
    margin: 2rem;
    display: flex;
    flex-direction: column;
    transition: transform 0.3s;
}

.card:hover {
    transform: scale(1.1);
}

.card-header {
    font-size: 3rem;
    margin-bottom: 2rem;
    text-align: center;
}

.card-desc {
    padding: 0.4rem 1rem;
    font-size: 1.6rem;
    margin-bottom: 5rem;
}

.card-btn {
    align-self: center;
    width: 70%;
}

/* about blog section ends */

/* archives section starts */
#archives {
    padding: 5rem 1rem;
    min-height: 95vh;
}

.archives-container {
    align-items: center;
    padding: 2rem;
    border-top: 0.1rem solid;
    border-bottom: 0.1rem solid;

}

.archives-container-lists {
    display: flex;
    text-align: center;
}

.archives-container-list {
    margin: 2rem;
}

.archives-img {
    width: 100%;
    height: 100%;
    border-radius: 0.6rem;
    transition: transform 0.4s;
}

.archives-img:hover {
    transform: scale(1.1);
}


/* archives section ends */

/* blog-posts section starts */
.blog-posts {
    padding: 5rem 1rem;
    min-height: 95vh;
}

.blog-post-heading{
    margin-bottom: 5rem;
}

.blog-post {
    width: 70%;
    display: flex;
    margin: 1rem 0;
    box-shadow: 0.1rem 0.1rem 0.1rem #222, -0.1rem 0 0.1rem #222;
    transition: transform 0.4s;
}

.blog-post:hover {
    transform: scale(1.1);
}

.blog-post-aside {
    flex: 1;
}


.blog-post-img {
    width: 100%;
    height: 100%;
}

.blog-content {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 2rem;
    padding: 1rem;
}

.blog-heading {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.blog-sub-heading {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.blog-desc {
    font-size: 1.6rem;
    text-align: justify;
    margin-bottom: 1rem;
}

.blog-btn {
    width: 30%;
}

/* blog-posts section ends */

/* contact section starts */
#contact-section {
    padding: 5rem 1rem;
    min-height: 90vh;
    background-color: rgb(77, 78, 74);
}

#contact-form {
    padding: 1rem;
    box-shadow: 0.1rem 0.1rem 0.1rem #222, -0.1rem 0 0.1rem #222;
    margin: 1rem;
    display: flex;
    flex-direction: column;
}

.form-control {
    margin-bottom: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;

}

.form-control label {
    font-size: 1.6rem;
    flex: 0.3;
}

input,
textarea {
    font-size: 1.6rem;
    flex: 0.7;
    width: 40rem;
    font-size: 1.6rem;
    padding: 2rem 1rem;
    border: none;
    border-radius: 0.6rem;
}

textarea {
    resize: none;
    height: 12vh;
}

.form-btn-field {
    display: flex;
    justify-content: flex-end;
}

.contact-button {
    width: 30%;
}

/* contact section ends */

/* footer starts */
footer {
    background-color: rgb(32, 44, 9);
    padding: 1rem;
    min-height: 5vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.copyright-text {
    font-size: 1.3rem;
    color: white;
}

.footer-icon {
    font-size: 2.5rem;
}

/* footer ends */

/* responsive design starts */
@media (max-width: 992px) {
    #blog-banner-section {
        flex-direction: column;
    }

    #blog-banner-section article {
        width: 70%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 5rem;
    }

    .card-container {
        width: 50%;
        flex-direction: column;
        flex-wrap: wrap;
    }

}

@media (max-width: 768px) {
    html {
        font-size: 55.5%;
    }

    #blog-banner-section article {
        width: 80%;
    }

    .card-container {
        width: 80%;
    }

    #archives {
        min-height: auto;
    }

    .blog-post {
        flex-direction: column;
        margin-bottom: 3rem;
        width: 80%;
    }

    #contact-section {
        min-height: auto;
    }
}

@media (max-width: 600px) {
    html {
        font-size: 48.5%;
    }

    header {
        display:list-item
        /* flex-direction: column; */
    }

    .logo-figure{
        float: left;
    }

    nav{
        float: left;
        text-align: center;
        padding: 5rem 0 0 15rem;
    }

    #menu-icon{
        float: right;
        display: block;
        cursor: pointer;
    }

    .hidden{
        display: none;
    }

    nav ul {
        padding-left: 2.5rem;
    }

    nav li {
        display: block;
        margin-right: 0;
        margin: 1rem 0rem;
    }

    nav ul li .nav-link {
        margin-left: 1.2rem;
    }



    header::after{
        content: "";
        display: table;
        clear: both;
    }

    #blog-banner-section {
        min-height: auto;
    }

    #blog-banner-section article {
        width: 90%;
    }

    .banner-image {
        max-width: 100%;
    }

    .blog-about {
        min-height: auto;
    }

    .card-container {
        width: 90%;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .archives-container-lists {
        flex-wrap: wrap;
    }

    .blog-post {
        width: 90%;
    }

    #contact-form {
        width: 90%;
    }

    .form-control {
        flex-direction: column;
    }

    .form-control label {
        margin-bottom: 0.5rem;
    }

    footer {
        flex-direction: column;
    }

    .copyright-text {
        font-size: 1.5rem;
    }

    #menubar2 {
        display: flex;
    }
}

@media (max-width: 400px) {

    input,
    textarea {
        max-width: 100%;
    }
}

/* responsive design ends */